* {
    box-sizing: border-box;
  }
  
  textarea {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    resize: none;
  }

  textarea:focus{
      border:none;
  }
  
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: monospace;
    font-size: large;
  }
  
  #submitBtn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }

  #copyBtn{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    float: left;
  }

  #submitBtn:focus{
      border-color: #4CAF50;
  }

  #outputText{
      visibility: hidden;
      border:none;
  } 
  
  .container {
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    /* margin-top: 6px; */
  }
  
  .col-75 {
    float: left;
    width: 75%;
    /* margin-top: 6px; */
  }
  